<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static "users/style.css" %}" rel="stylesheet">

    <title>User Login</title>

</head>
<body>
    {% load crispy_forms_tags %}
    {% block content %}
        <div class="topnav">
            <a href="#">Vendor-App</a>
            <a style="float: right;" href="{% url 'register' %}">Register Now!</a>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="main">
            <div class="card form login">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h1 class="title border-bottom mb-4">Log In</h1>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                </form>
                <p style="margin-top: 10px;">
                    Forgot Your Password? <br/><a style="color: red; text-decoration: none; font-weight: bold;" href="{% url 'password_reset' %}">Reset Here</a>
                </p>
            </div>
        </div>
    {% endblock content %}
</body>
</html>