<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static "users/style.css" %}" rel="stylesheet">

    <title>Password Reset Done</title>

</head>
<body>
    {% load crispy_forms_tags %}
    {% block content %}
        <div class="topnav">
            <a href="#">Vendor-App</a>
            <a style="float: right;" href="{% url 'login' %}">Login</a>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="main">
            <div class="card form login">
                <h1>An email has been sent with instructions to reset your password.</h1>
                <p style="font-weight: bold">Check your spam folder if you are not able to see the email.</p>
            </div>
        </div>
    {% endblock content %}
</body>
</html>